body{
    background-size: cover;
}
.heading{
    font-size: 25px;
    color: white;
    width: 100%;
    font-weight: bold;
    
}
.note{
    font-size: 18px;
    color: black;  
    font-weight: 200;  
}
canvas{
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}